[submodule "effectoro-tests/tests/rxlr-eer-detection/03_run_efo_on_fastas/effectorO-1.0"]
	path = effectoro-tests/tests/rxlr-eer-detection/03_run_efo_on_fastas/effectorO-1.0
	url = https://github.com/kelseywood/effectorO-1.0.git
